.footer{
    background: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.list li{
    font-size: 2em;
    margin: 0 1em;
    color: #ffbb33;
}


